{% extends 'base.html' %}

{% block content %}

<div class="card shadow-lg">

    <div class="card-header bg-success text-white">

        <div class="d-flex justify-content-between align-items-center">

            <h2>🏢 Company List</h2>

            <a href="{% url 'company_register' %}" class="btn btn-light">
                + Add Company
            </a>

        </div>

    </div>

    <div class="card-body">

        <div class="table-responsive">

            <table class="table table-bordered table-hover align-middle">

                <thead class="table-dark">

                    <tr>
                        <th>ID</th>
                        <th>Company Name</th>
                        <th>Location</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Action</th>
                    </tr>

                </thead>

                <tbody>

                {% for company in companies %}

                <tr>

                    <td>{{ company.id }}</td>

                    <td>
                        <strong>{{ company.company_name }}</strong>
                    </td>

                    <td>{{ company.location }}</td>

                    <td>{{ company.email }}</td>

                    <td>{{ company.phone }}</td>

                    <td>

                        <a href="{% url 'edit_company' company.id %}" class="btn btn-warning btn-sm">
                            Edit
                        </a>

                        <a href="{% url 'delete_company' company.id %}" class="btn btn-danger btn-sm">
                            Delete
                        </a>

                    </td>

                </tr>

                {% empty %}

                <tr>

                    <td colspan="6" class="text-center text-danger">
                        No Company Found
                    </td>

                </tr>

                {% endfor %}

                </tbody>

            </table>

        </div>

    </div>

</div>

{% endblock %}