{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-8">

        <div class="card shadow-lg">

            <div class="card-header bg-primary text-white text-center">
                <h2>🎓 Student Registration</h2>
            </div>

            <div class="card-body">

                <form method="POST" enctype="multipart/form-data">

                    {% csrf_token %}

                    {{ form.as_p }}

                    <div class="text-center mt-4">

                        <button type="submit" class="btn btn-primary">
                            Register
                        </button>

                        <a href="{% url 'student_list' %}" class="btn btn-success">
                            View Students
                        </a>

                        <a href="{% url 'home' %}" class="btn btn-secondary">
                            Home
                        </a>

                    </div>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}